*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
nav .nav{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding-top: 1rem;
}
nav .nav .left{
    margin-left: 2rem;
    color: #ad65ff;
}
nav .nav .right{
    margin-right: 2rem;
}
.hero{
    display: flex;
}
.hero aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 88vh;
    font-size: 1.2rem;
    /* background-color: aqua; */
}

.hero aside .navigate{
    color: #7081a0;
    width: 100%;
    margin-top:1rem;
    border-radius: 0 10px 10px 0;
    padding:1rem 0 1rem 3rem ;
    /* background-color: #ad65ff; */
}


section{
    background-color: #f2edf3;
    width: 80% ;
    height: 88vh;
}