* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(153, 83, 83);
  background-color: transparent;
}
.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* background: black; */
  visibility: visible;
  display: flex;
  justify-content: space-between;
}
.left {
  padding-left: 2.3vw;
  margin-top: 2rem;
}
.left a {
  font-size: 3rem;
  /* color:black; */
  text-decoration: none;
  cursor: pointer;
}
.middle {
  /* background: red; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
}
.middle h2 {
  /* background: salmon; */
  margin-top: 16vh;
}
.right {
  width: 22vw;
  display: flex;
  /* background-color: wheat; */
  flex-direction: column;
  justify-content: space-between;
}
.right p {
  /* color: white; */
  /* background-color: black; */
  border: none;
}
.right #view {
  font-size: 2rem;
  /* background-color: red; */
  margin-top: 4rem;
  cursor: pointer;
}
.right #buy {
  cursor: pointer;
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
}

.view_back {
  position: absolute;
  padding-left: 2.3vw;
  margin-top: 2rem;
  visibility: hidden;
}
.view_back a {
  cursor: pointer;
  font-size: 3rem;
  /* color:black; */
  text-decoration: none;
}
