<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/public/css/new-password.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

</head>
<body>
    <a href="/" id="logo"><img src="assets/logo-removebg-preview.png" alt=""></a>
    <div class="container flex">
        <div class="login flex">
            <div id="head"><h1>Reset your Password</h1></div>
            <!-- <% if(errorMessage) {%>
                <p style="color: red"><%= errorMessage %></p>
            <% } %> -->
            <form action="/update-password" method="POST">
                <div class="data flex">
                    <input type="text" placeholder="New Password" name="newPassword" required>
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                <div class="data flex">
                    <input type="text" placeholder="Re-enter Password" name="confirmPassword" required>
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                <input type="hidden" name="resetToken" value="<%= token %>">
                <div id="button"><button type="submit">Update Password</button></div>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>
</html>
