<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/signup.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

</head>

<body>
    <a href="/" id="logo"><img src="assets/logo-removebg-preview.png" alt=""></a>
    <div class="container flex">

        <div class="login flex">
            
                    <form action="/signup" method="POST">
                        <div id="head"><h1>Signup</h1></div>
                        <% if(errorMessage) { %>
                            <div id="error">
                                <p>
                                    <%= errorMessage %>
                                </p>
                            </div>
                                <% } %>
                        <div class="data flex">
                            <input type="text" placeholder="Username" name="username">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="data flex">
                            <input type="email" placeholder="Email" name="email">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="data flex eye">
                            <input type="password" placeholder="Password" name="password">
                            <i class="fa-solid fa-eye-slash"></i>
                        </div>

                        <div id="button"><button type="submit">Signup</button></div>
                        <div id="accbot"><p>Already have an account? <a href="/login">Login</a></p></div>
                    </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
        
</body>

</html>