<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/signup.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

</head>

<body>
    <a href="/"><img src="assets/logo-removebg-preview.png" alt=""></a>
    <div class="container flex">

        <div class="login flex">
            <% if(errorMessage) { %>
                <p>
                    <%= errorMessage %>
                </p>
                <% } %>
                    <form action="/signup" method="POST">
                        <h1>Signup</h1>

                        <div class="data flex">
                            <input type="text" placeholder="Username" name="username">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="data flex">
                            <input type="email" placeholder="Email" name="email">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="data flex eye">
                            <input type="password" placeholder="Password" id="passwordInput" name="password">
                            <i class="fa-solid fa-eye-slash"
                            id="togglePassword"></i>
                        </div>

                        <button type="submit">Signup</button>
                    </form>
                    <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const togglePassword = document.getElementById('togglePassword');
            const passwordInput = document.getElementById('passwordInput');

            togglePassword.addEventListener('click', () => {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    togglePassword.classList.remove('fa-eye-slash');
                    togglePassword.classList.add('fa-eye');
                } else {
                    passwordInput.type = 'password';
                    togglePassword.classList.remove('fa-eye');
                    togglePassword.classList.add('fa-eye-slash');
                }
            });
        });
    </script>  
</body>

</html>