<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vehicles</title>
    <link rel="stylesheet" href="public/css/addVehicles.css">
</head>
<body>
    <section>
        <div class="container">
            <form action="/addVehicles" method="POST">
                <label for="name">Name of the Car:</label><br>
                <input type="text" id="name" name="name" required><br>
                
                <label for="price">Price:</label><br>
                <input type="number" id="price" name="price" required><br>

                <label for="description">Description of the Car:</label><br>
                <textarea id="description" name="description" rows="4" cols="50" colspan="2"></textarea>

                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
</html>
