<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/admin.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

</head>

<body>
    <button><a href="/addVehicles">Add Vehicles</a></button>
    <div class="hero">
        <aside>
            <div class="user">
                <img src="../assets/images.jpg" alt="User Image">
                <h1>Name</h1>
                <p>VP Fancy Admin</p>
            </div>
            <li><i class="fa-solid fa-house"></i>
                <p>Dashboard</p>
            </li>
            <ul>
                <p id="head">Data</p>
                <li><i class="fa-solid fa-people-group"></i></i>
                    <p>Manage Team</p>
                </li>
                <li><i class="fa-regular fa-address-book"></i>
                    <p>Contacts Information</p>
                </li>
                <!-- <li><i class="fa-regular fa-file-lines"></i>
                    <p>Invoices</p>
                </li> -->
            </ul>
            <ul>
                <p id="head">Pages</p>
                <li><i class="fa-regular fa-user"></i>
                    <p>Profile Form</p>
                </li>
                <!-- <li><i class="fa-regular fa-calendar"></i>
                    <p>Calendar</p>
                </li> -->
                <!-- <li><i class="fa-regular fa-circle-question"></i>
                    <p>FAQ Page</p>
                </li> -->
            </ul>
            <ul>
                <p id="head">Charts</p>
                <li><i class="fa-solid fa-chart-simple"></i>Bar Chart</li>
                <!-- <li><i class="fa-solid fa-chart-pie"></i>
                    <p>Pie Chart</p>
                </li> -->
                <li><i class="fa-solid fa-chart-line"></i>
                    <p>Line Chart</p>
                </li>
                <li><i class="fa-solid fa-map"></i>
                    <p>Geography Chart</p>
                </li>
            </ul>
        </aside>

        <section>
            <div class="top">
                <div class="search"><input type="text"></div>
                <div class="nav">
                    <i class="fa-regular fa-moon"></i>
                    <i class="fa-regular fa-bell"></i>
                    <i class="fa-solid fa-gear"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
            <header>
                <div class="left">
                    <h1>DASHBOARD</h1>
                    <p>Welcome to your dashboard</p>
                </div>
                <div class="right">
                    <button><i class="fa-solid fa-download"></i>DOWNLOAD REPORTS</button>
                </div>
            </header>
            <main>
                <div class="first">
                    <div class="progress">
                        <div class="left">
                            <i class="fa-solid fa-envelope"></i>
                            <h1>12,361</h1>
                            <p>Emails Sent</p>
                        </div>
                        <div class="circle"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="progress">
                        <div class="left">
                            <i class="fa-solid fa-calculator"></i>
                            <h1>431,225</h1>
                            <p>Sales Obtained</p>
                        </div>
                        <div class="circle"></div>
                    </div>
                    <div class="progress">
                        <div class="left">
                            <i class="fa-solid fa-user-plus"></i>
                            <h1>32,441</h1>
                            <p>Cars</p>
                        </div>
                        <div class="circle"></div>
                    </div>
                    <div class="progress">
                        <div class="left">
                            <i class="fa-solid fa-traffic-light"></i>
                            <h1>1,325,134</h1>
                            <p>View Count</p>
                        </div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="second">
                    <div class="lefts">
                        <p>Revenue Generated</p>
                        <h1>$59,342.32</h1>
                    </div>
                    <div class="rights">
                        <p>Recent Transaction</p>
                    </div>
                </div>
                <div class="third">
                    <div class="leftt">
                        <h5>Campaign</h5>
                        <div class="circlet">
                            <div class="circle"></div>
                            <p>$48,352 revenue generated</p>
                            <p>Includes extra misc expenditures and costs</p>
                        </div>
                    </div>
                    <div class="middlet">
                        <h5>Sales Quantity</h5>
                    </div>
                    <div class="rightt">
                        <h5>Geography Based Traffic</h5>
                    </div>
                </div>
            </main>
        </section>

    </div>


    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>

</html>