<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/admin/admin_left_bar.css">
    <link rel="stylesheet" href="/public/css/admin/admin_car.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">
</head>
<body>
    <div class="container">
        <!-- <div class="cube n1"></div> -->
        <!-- <div class="cube n2"></div> -->
         <div class="content ">
             <div class="aside">
                <div class="user">
                    <img src="../../assets/images.jpg" alt="User Image">
                    <h1>Name</h1>
                    <p><%= adminData.name %></p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        <i class="fa-solid fa-house"></i>
                        <a href="/admin/dashboard">Homepage</a>
                    </div>
                    <div class="car flex">
                        <i class="fa-solid fa-car"></i>
                        <a href="/admin/cars">Cars</a>
                    </div>
                    <div class="addCar flex">
                        <i class="fa-solid fa-plus"></i>
                        <a href="/admin/addVehicles"3>Add Car</a>
                    </div>
                    <div class="bookings flex">
                        <i class="fa-solid fa-book"></i>
                        <a href="/admin/bookedVehicles">Bookings</a>
                    </div>
                    <div class="Manage flex">
                        <i class="fa-solid fa-people-group"></i>
                        <a href="/admin/manageUsers">Manage Users</a>
                    </div>
                </div>
            </div> 
             <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Cars</h1>
                        <p>Check your cars</p>
                    </div>
                    <div class="right">
                            <div class="nav">
                                <i class="fa-regular fa-moon"></i>
                                <i class="fa-regular fa-bell"></i>
                                <i class="fa-solid fa-gear"></i>
                                <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="download">
                            <button><i class="fa-solid fa-download"></i>DOWNLOAD REPORTS</button>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="table">
                        <h1>List of Cars</h1><br>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Model</th>
                                <th>Stocks</th>
                            </tr>
                            <tr id="A">
                                <td>Fortuner</td>
                                <td>Rs 1,13,56,000</td>
                                <td>2021</td> 
                                <td>3</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="A">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                            <tr id="B">
                                <td>i20 Grand</td>
                                <td>Rs 32,00,000</td>
                                <td>2019</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    
        
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>
</html>