<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="public/css/admin/admin_left_bar.css">
    <link rel="stylesheet" href="public/css/admin/admin2.css">

</head>
<body>
   
    <div class="container">
        <div class="content ">
            <div class="aside">
                <div class="user">
                    <img src="/assets/images.jpg" alt="User Image">
                    <h1>Name</h1>
                    <p>VP Fancy Admin</p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        <i class="fa-solid fa-house"></i>
                        <a href="../../views/admin/admin.html">Homepage</a>
                    </div>
                    <div class="car flex">
                        <i class="fa-solid fa-car"></i>
                        <a href="../../views/admin/admin_car.html">Cars</a>
                    </div>
                    <div class="addCar flex">
                        <i class="fa-solid fa-plus"></i>
                        <a href="/addVehicles"3>Add Car</a>
                    </div>
                    <div class="bookings flex">
                        <i class="fa-solid fa-book"></i>
                        <a href="../../views/admin/booking_admin.html">Bookings</a>
                    </div>
                    <div class="Manage flex">
                        <i class="fa-solid fa-people-group"></i>
                        <a href="../../views/admin/manageUser_admin.html">Manage User</a>
                    </div>
                </div>
            </div>
        
            <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>DASHBOARD</h1>
                        <p>Welcome to your dashboard</p>
                    </div>
                    <div class="right">
                            <div class="nav">
                                <i class="fa-regular fa-moon"></i>
                                <i class="fa-regular fa-bell"></i>
                                <i class="fa-solid fa-gear"></i>
                                <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="download">
                            <button><i class="fa-solid fa-download"></i>DOWNLOAD REPORTS</button>
                        </div>
                    </div>

                </div>
                <div class="hero">
                    <div class="cars box">
                        <div class="text">
                            <h1>Cars</h1>
                        <h1>12</h1>
                        </div>
                        <i class="fa-solid fa-car"></i>
                        
                    </div>
                    <div class="views box">
                        <div class="text">
                            <h1>Views</h1>
                        <h1>12,003</h1>
                        </div>
                        <i class="fa-solid fa-eye"></i>
                        
                    </div>
                    <div class="booking box">
                        <div class="text">
                            <h1>Bookings</h1>
                        <h1>456</h1>
                        </div>
                        <i class="fa-solid fa-book"></i>
                        
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    
        
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>
</html>