<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/public/css/admin/admin_left_bar.css"> -->
    <link rel="stylesheet" href="../../public/css/admin/aside.css">
    <link rel="stylesheet" href="../../public/css/admin/top.css">
    <link rel="stylesheet" href="../../public/css/admin/booking_admin.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">
</head>
<body>
    <div class="container">
        <!-- <div class="cube n1"></div> -->
        <!-- <div class="cube n2"></div> -->
         <div class="content ">
             <div class="aside">
                <div class="user">
                    <img src="<%= adminData.imagePath %>" alt="User Image">
                    <h1>Name</h1>
                    <p><%= adminData.name %></p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        
                        <a href="/admin/dashboard">
                            
                            <i class="fa-solid fa-house"></i>
                            <h1>Homepage</h1></a>
                    </div>
                    <div class="car flex">
                        <a href="/admin/cars">
                            <i class="fa-solid fa-car"></i>
                            <h1>Cars</h1></a>
                    </div>
                    <div class="addCar flex active">
                        
                        <a href="/admin/addVehicles"3>
                            <i class="fa-solid fa-plus"></i>
                            <h1>Add Car</h1></a>
                    </div>
                    <div class="bookings flex">
                        <a href="/admin/bookedVehicles">
                            <i class="fa-solid fa-book"></i>
                            <h1>Bookings</h1></a>
                    </div>
                    <div class="Manage flex">
                        <a href="/admin/manageUsers">
                            <i class="fa-solid fa-people-group"></i>
                            <h1>Manage Users</h1></a>
                    </div>
                </div>
            </div> 
             <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Bookings</h1>
                        <p>Available Orders</p>
                    </div>
                    <div class="right">
                            <div class="nav">
                                <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="download">
                            <a href="#">
                                <i class="fa-solid fa-download"></i>
                                    <h1>DOWNLOAD REPORTS</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="table">
                        <h1>List Of Orders</h1><br>
                        <table>
                            <tr>
                                <th>Username</th>
                                <th>Car</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Credencials</th>
                            </tr>
                            <tr id="A">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="B">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="A">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            <tr id="B">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="A">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="B">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            <tr id="A">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="B">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="A">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            
                            
                        </table>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    
        
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>
</html>