<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/admin_car.css">
</head>
<body>
    <div class="container">
        <!-- <div class="cube n1"></div> -->
        <!-- <div class="cube n2"></div> -->
         <div class="content ">
             <div class="aside">
                <div class="user">
                    <img src="../../assets/images.jpg" alt="User Image">
                    <h1>Name</h1>
                    <p>VP Fancy Admin</p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        <i class="fa-solid fa-house"></i>
                        <a href="../../views/admin/admin2.html">Homepage</a>
                    </div>
                    <div class="car flex">
                        <i class="fa-solid fa-car"></i>
                        <a href="../../views/admin/admin_car.html">Cars</a>
                    </div>
                    <div class="addCar flex">
                        <i class="fa-solid fa-plus"></i>
                        <a href=""3>Add Car</a>
                    </div>
                    <div class="bookings flex">
                        <i class="fa-solid fa-book"></i>
                        <a href="../../views/admin/booking_admin.html">Bookings</a>
                    </div>
                    <div class="Manage flex">
                        <i class="fa-solid fa-people-group"></i>
                        <a href="../../views/admin/manageUser_admin.html">Manege User</a>
                    </div>
                </div>
            </div> 
             <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Bookings</h1>
                        <p>Available Orders</p>
                    </div>
                    <div class="right">
                            <div class="nav">
                                <i class="fa-regular fa-moon"></i>
                                <i class="fa-regular fa-bell"></i>
                                <i class="fa-solid fa-gear"></i>
                                <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="download">
                            <button><i class="fa-solid fa-download"></i>DOWNLOAD REPORTS</button>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="table">
                        <h1>List Of Orders</h1><br>
                        <table>
                            <tr>
                                <th>Username</th>
                                <th>Car</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Credencials</th>
                            </tr>
                            <tr id="A">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="B">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="A">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            <tr id="B">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="A">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="B">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            <tr id="A">
                                <td>Ram</td>
                                <td>Fortuner</td>
                                <td>ram@gmail.com</td> 
                                <td>123456789</td>
                            </tr>
                            <tr id="B">
                                <td>Shyam</td>
                                <td>Range Rover</td>
                                <td>shyam@gmail.com</td> 
                                <td>987654321</td>
                            </tr>
                            <tr id="A">
                                <td>Hari</td>
                                <td>Tesla</td>
                                <td>hari@gmail.com</td> 
                                <td>123459876</td>
                            </tr>
                            
                            
                        </table>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    
        
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
</body>
</html>