<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/vehicles.css">
    <title>Webpage</title>
</head>

<body>
    <h1>Latest Vehicles</h1>
    <div class="container" id="container">
        <h2>Crossovers & SUVs</h2>
        <h2>Cars</h2>
        <h2>Hybrid</h2>
        <h2>Electric</h2>
        <h2>Sports Cars</h2>
    </div>
    <div class="Carss">
        <h3>Ampera Axia <p>$ 37,800.00 USD</p> <p>MSRP : $35,600</p></h3>
        <h3>Velocevo Stellaris<p>$ 37,800.00 USD</p> <p>MSRP : $35,600</p></h3>
        <h3>Nexaro CG6<p>$ 37,800.00 USD</p> <p>MSRP : $35,600</p></h3>
        <h3>Arcticon Aurora<p>$ 37,800.00 USD</p> <p>MSRP : $35,600</p></h3>   
        </div>
        
        <h4>Discover More</h4>

        <!-- <% if (imageUrls && imageUrls.length>0 && names && names.length> 0) { %>
            <div class="models">
              <% for(let i=0; i<names.length; i=i+2) {%>
                <div class="model">
                  <img src="<%= imageUrls[i] %>" alt="Image From Database">
                  <h3><a href="./frontend//html/modelview.html:id">
                      <%=names[i]%>
                    </a></h3>
                </div>
                <% }; %>
      
                  <% } else { %>
                    <p>No images found in the Database</p>
                    <%} %>
        </div> -->
   
</body>

</html>