<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/vehicles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <title>Webpage</title>
   
</head>
<body >
  <div class="title">
    <h1>Vehicles</h1>
  </div>
   <div class="container">
    <div class="nav">
      <ul>
        <li>Crossovers & SUVs</li>
        <li>Cars</li>
        <li>Hybrid</li>
        <li>Electric</li>
        <li>Sports Cars</li>
      </ul>
    </div>
      <% if (imageUrls  && names) { %>
            <div class="models">
              <% for(let i=0; i<imageUrls.length; i++ ) { %>
                <a href="../html/modelview.html" class="model">
                  <img src="<%= imageUrls[i] %>" alt="Image From Database">
                  <h2><%= names[i] %></h2>
                  <h2><%= prices[i] %></h2>
                </a>
              <% }; %>
      
      <% } else { %>
        <p>No images found in the Database</p>
      <%} %>
    </div>
    
  </div>
</body>
</html>