<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./frontend/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="loadpage">
    <p>DRIVE</p>
    <p>YOUR</p>
    <p>DREAM</p>
  </div>
  <div class="homepage">
    <header>
      <nav>
        <div class="navl">
          <a href="#">DYD</a>
        </div>
        <div class="navr">
          <a href="#">Brand Journal</a>
          <a href="./frontend/html/vehicles.html">Vehicles</a>
          <a href="#">Contact</a>
        </div>
      </nav>
    </header>
    <div class="hero">
      <div class="herotop">
        <p>Drive your</p>
      </div>
      <div class="herobottom">
        <button>View Models</button>
        <p>Dream</p>
      </div>
    </div>
  </div>

  <div class="bgvideo">
    <video src=""></video>
  </div>



  <div class="carmodels">
    <h1>Latest Vehicles</h1>
    <div class="models">
      <div class="image-container">
        <% if (imageUrls && imageUrls.length>0) { %>
          <% imageUrls.forEach(function(imageUrl) { %>
            <img src="<%= imageUrl %>" alt="Image from Database">
            <% }); %>
              <% } else { %>
                <p>No images found in the Database</p>
                <%} %>
      </div>
      <div class="name-container">
        <% if(names && names.length> 0) { %>
          <%names.forEach(function(names) {%>
            <h3><a href="">
                <%=names%>
              </a></h3>
            <%}); %>
              <%} else {%>
                <h3>Names not available</h3>
                <% }%>
      </div>
    </div>
  </div>

  <footer>
    <div class="contact">
      <div class="contactup">
        <div class="left">DYD</div>
        <div class="right">
          <div class="cl">
            <p>Contact</p>
            <a href="#">Whatsapp</a>
            <a href="#">Email</a>
          </div>
          <div class="cl">
            <p>Services</p>
            <a href="#">Web Design</a>
            <a href="#">Web Development</a>
          </div>
          <div class="cl social">
            <p>Socials</p>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="contactdown">
        <div class="bottomleft">
          <p id="msg">Send an email T_T</p>
          <p id="email">minorproject_I@gmail.com</p>
        </div>
        <div class="bottomright">
          <div class="up"></div>
          <div>@ Drive Your Dream 2024</div>
        </div>
        <a href="./frontend/html/modelview.html">Car</a>
      </div>
    </div>
  </footer>
  <!-- <div>
      <a href="./frontend/html/modelview.html">ModelVIew</a>
    </div> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="./frontend/js/script.js"></script>
</body>

</html>