*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Montreal';
}
html,body{
    height: 100%;
    width: 100%;
    background-color: gray;
}
#logo{
    position: absolute;
    top: 0.9vw;
    left: 2.6vw;
    z-index: 9;
}
#logo img{
    height: 5.2vw;
    min-height: 50px;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-direction: column; */
    text-align: center;
    /* background-color: gray; */
}
.whole{
    width: 80%;
    padding: 1rem;
    display: flex;
    background : linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    position: relative;

}

.content > * {
    margin-top: 1rem;
}
.content{
    width: 60%;
    /* width: calc(20vw + 12rem); */
    padding: 1rem 2rem;
    
    /* background-color: black; */
    /* color: white; */
    /* border: 2px solid red */
}
.container h1{
    font-size: calc(1vw + .7rem);

}
.content h2,p{
    /* background-color: red; */
    font-weight: 400;
    font-size: calc(.5vw + .7rem);
}

.content img{
    height: calc(16vw + 1rem);
}

button{
    font-size: calc(.5vw + .5rem);
    font-weight: 600;
    background-color: rgb(110, 108, 108);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
.content a{
    text-decoration: none;
    color: white;
}
.whole #noStocks{
    display: none;
    cursor: not-allowed;
}
form > * {
    margin-top: .5rem;
}
.container .form{
    /* background-color: red; */
    width: calc(18vw + 10rem);
    padding: 1vw 2vw;
    /* border: 2px solid yellow; */
}
form{
    width: 100%;
    height: 100%;
    font-size: calc(.9vw + .7rem);
    font-weight: 600;
    /* background-color: yellow */
}
.data{
    /* background-color: aqua; */
    width: 100%;
    min-width: 240px;
    overflow: hidden;
    /* background-color: green; */
    border-bottom: 1px solid black;
}
.data input{
    /* color: white; */
    font-size: 1rem;
    height: 38px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
}
.form button{
    margin-top: 2rem;
}

.colortype{
    border: none;
    margin: 1.5rem 0;
}

@media(max-width:650px){
    .container{
       
    }
    .whole{
        display: flex;
        flex-direction: column;
        width: calc(13vw + 14rem);
    }
    .content{
        /* background-color: green; */
    }
    .form{
        width: 100%;
        /* background-color: yellow; */
    }
    .data{
        min-width: 220px;
    }
}