*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Montreal';
}
#logo{
    position: absolute;
    top: 0.9vw;
    left: 2.6vw;
}
#logo img{
    height: 5.2vw;
    min-height: 50px;
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: gray;
}
.container h1{
    font-size: calc(1.8vw + 1rem);
}
.content > * {
    margin-top: 1rem;
}
.content{
    width: calc(20vw + 12rem);
    padding: 1rem 2rem;
    /* background-color: black; */
    color: white;
    /* border: 2px solid red */
}
.content h2{
    font-size: calc(1.2vw + .6rem);
}
.content img{
    height: calc(16vw + 1rem);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
    font-size: calc(.5vw + .5rem);
    background-color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
.content a{
    text-decoration: none;
    color: white;
}
/* .container .form{
    display: none;
} */
/* <!-- <% if(userData) { %>
    <h1>Welcome <%= userData.username %></h1> 
<% } %> --> */
.alert-form{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    height: 60vh;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    background-color: white;
    border-radius: 14px;
}
.overlay{
    
    background-color: rgba(255, 0, 0, 0.811);
    backdrop-filter: blur(30px);
    opacity: 0.1;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 8;
 } 
 form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    
 }
 form button:hover{
    background-color: #4a4949;
    color: white;
    cursor: pointer;
 }
 