* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgb(153, 83, 83); */
  background-color: transparent;
  font-family: 'Neue Montreal';
}
.overlay_admin{
  position: absolute;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}



.overlay_admin a{
  font-size: calc(1vw + 1rem);
  text-decoration: none;
  color:black
  
}

.overlay_b {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* background: black; */
  /* visibility: visible; */
  display: flex;
  /* justify-content: space-evenly; */
}

.overlay_b .left_b {
  padding-left: 2.3vw;
  margin-top: 2rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: yellow; */
}

.overlay_b .description {
  /* height: auto; */
  margin-top: -25rem;
  position: relative;
}

.overlay_b .des {
  font-size: 1.3rem;
  padding: 1.3vw 2.4vw;
  width: 80%;
  height: auto;
  color: white;
  /* border: 2px solid black; */
  /* background-color: aqua; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  position: absolute;
}
.des div{
  text-align: center;
}
.des img{
  height: 160px;
}

.left_b #view_car {
  border: none;
  width: 20%;
  /* background-color: yellow; */
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  cursor: pointer;
  /* position: absolute; */
  /* left: 0; */
}

.overlay_b .left_b a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.overlay_b .engine,
.tyre {
  visibility: hidden;
}

.overlay_b .middle_b {
  /* background: red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10rem; */
}

.overlay_b .middle_b h2 {
  /* background: salmon; */
  margin-top: 16vh;
}

.overlay_b .right_b {
  width: 35%;
  display: flex;
  /* background-color: black; */
  flex-direction: column;
  justify-content: space-between;
}

.overlay_b .right_b p {
  color: white;
  /* background-color: black; */
  border: none;
}

.overlay_b .right_b #view_b {
  font-size: 2rem;
  text-align: end;
  padding-right: 3rem;
  color: black;
  /* background-color: red; */
  margin-top: 4rem;
  cursor: pointer;
}
.des p{
  /* margin-top: -rem; */
  font-size: 1.2rem;
}

.overlay_b .right_b #buy_b {
  cursor: pointer;
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
}

.view_back_b {
  position: absolute;
  padding-left: 2.3vw;
  margin-top: 2rem;
  visibility: hidden;
  /* color: black; */
}

.view_back_b a {
  cursor: pointer;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}



.log {
  height: 100vh;
  width: 100%;
  /* position: absolute; */
  display: flex;
  visibility: hidden;
  /* top: 17%;
    left: 25%; */
  background-color: rgba(0, 0, 0, 0.288);
}

#buy_b {
  text-decoration: none;
  color: black;
  text-align: end;
  padding-right: 3rem;
}

