*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Montreal';
}
html,body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
#logo{
    position: absolute;
    top: 0.9vw;
    left: 2.6vw;
}
#logo img{
    height: 5.2vw;
    min-height: 50px;
}
.main{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.title{
    text-align:start;
    height: 100px;
    padding:1.2rem;
}

.title h1{
    font-size: calc(1.4vw + 1.4em);
    text-align: center;
}

.container{
    width: 100%;
    padding: 2rem;
}
.nav{
    text-align: center;

}
.nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;

}
li{
    font-size: calc(1vw + 1rem);
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
}
.car_container{
    min-height: calc(100% - 70px);
    width: 100%;
    position: relative;
  
    
}
.whole_container{
    width: 100%;
    height:auto;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
}
.single_container{
    /* position: absolute; */
    width: calc(12vw + 4rem);
    min-width: 260px;
}

.model{
    
    display: flex;
    flex-direction: column;
    margin: .5rem 0 .5rem 1rem;
    padding: 1.3rem;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.single_container img{
    height: 200px;
    object-fit: cover;
}
.single_container h2{
    font-size: calc(1vw + 1rem);
    margin: 0.5rem 0 0.5rem 0;
    font-weight: 600;
}
.single_container p{
    font-size: calc(.7vw + .7rem);
}
.electric, .sport{
    visibility:hidden;
}


