*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}


.bottom{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: red;
    /* font-size: 1.8vw; */
    width: calc(30vw + 20rem);
    min-width: 300px;
    padding: 2rem 0;
    background : linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    text-align: center;
    /* align-items: center; */

}
.alert{
    color: red;
    font-size: .8em;
}
.datas{
    width: calc(16vw + 4rem);
    min-width: 240px;
    /* overflow: hidden; */
    /* border: 2px solid black; */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
.inter{
    border-bottom: 1px solid black;
}
.data textarea{
    width: calc(12vw + 8rem);
    padding: 5px 7px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    /* border: 100%; */
}
.datas > *{
    margin-top: 19px;
}

form label{
    font-size: calc(1vw + .4rem);
    font-weight: 500;
    /* color: white; */
    /* margin-top: 1rem; */
}
form input{
    font-size: 1rem;
    height: 38px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
}
#button{
    text-align: center;
}

button{
    margin-top: .5rem;
    height: 43px;
    width: 60%;
    font-size: 1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}

.description > *{
    margin-top: 20px;
}

@media(max-width: 600px){
    .container{
        width: 100%;
        background: linear-gradient(to right top, #526D82, #F4EEE0);

    }
}