*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right top, #526D82, #F4EEE0);
    overflow: hidden;
    position: relative;
}

.content{
    height: 100vh;
    width:100%;
    display: flex;
    position: relative;
    top: 0;
    z-index: 2;
}

.content .aside{
    height: 100%;
    width: 23vmax;
    min-width: 170px;
    padding: 1rem 0rem;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}

.flex{
    display: flex;
    align-items: center;
    
}
.flex a{
    display: flex;
}
.nav .flex i{
    font-size: 1vmax;
}
.nav .flex a h1{
    font-size: calc(0.4vmax + 0.8rem);
    font-weight: 400;
    margin-left: 2vw;
}
.user img{
    height: 8vmax;
    border-radius: 100%;
}
.user h1{
    font-size: calc(1.2vmax + 1.3rem);
}
.user p{
    font-size: calc(0.8vmax + .4rem);
}
.user > * {
    margin-top: 10px;
}
.aside .nav{
    margin-top: 2rem;
}
.aside .nav div{
    padding: 1.5rem 0 1.5rem 1vw;
}
.aside .nav div a{
    text-decoration: none;
    color:black;
    font-weight: 300;
}
.aside .nav div i{
    font-size: calc(1.3vmax + .5rem);
}
.nav div > * {
    padding-left: 1.4vmax;
}

.content .main{
    width: 100%;
    width: 100%;
    height: 15vh;
}
 .main .top{
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.right .nav i{
    margin-left: 2rem;
}

.main .download{
    margin-top: 1rem;
}
.download button{
    width: 200px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
}
.bottom{
    padding: 1rem 2rem;
    width: 100%;
    height: 80vh;
}
.table{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    overflow: auto;
}

.table table{
    width: 100%;
}
.table th{
    padding:  1rem;
    border-bottom: 1px solid black;
}
.table td{
    padding: 1rem 2rem;
}
.table #A{
    background-color: hsla(0, 0%, 100%, 0.621);
}