<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Model of the Car</title>
    <link rel="stylesheet" href="/public/css/modelview.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

  </head>
  <body>
    <div class="view_back_b">
      <a href="">Back</a>
    </div>
    <div class="overlay_b">
      <div class="left_b">
        <a href="/">Back</a>
      </div>
      <div class="middle_b">
        <h2><%= models.name %></h2>
        <p><%= models.description %></p>
      </div>
      <div class="right_b">
        <p id="view_b">Perspective View</p>
        <!-- <p id="buy">Buy Car</p> -->
        <% if(isLoggedIn)  { %>
          <a href="/book-car?<%=models._id%>" id="buy_b">Book Car</a>
        <% } else{ %>
          <a href="/login" id="buy_b">Login</a>
        <%} %>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script>
      axios.get("/api/modelData?id=<%= models._id %>")
        .then((response)=>{
          let data = response.data;
          console.log(data);
        })
    </script>
  </body>
</html>
